 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------------Grid System test---------------- */

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;} 
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*='col-']{
    float: left;
    border: 1px solid gray;
}
.row:after{
    content: '';
    clear: both;
    display: block;
}
.container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.header-height {height: 200px;}
.menu-height {height: 50px;}
.body-height {height: 600px;}
.big-footer-height {height: 300px;}
.footer-height {height: 50px;}
.h-300 {height: 300px;}
.h-250 {height: 250px;}
.h-225 {height: 225px;}
.h-200 {height: 200px;}
.h-150 {height: 150px;}
.h-100 {height: 100px;}

.hello{
    font-size: 70px;
    color: blue;
}
/* @media screen and (max-width:1000px) and (min-width:800px){
     .hello{
        color: pink;
        font-size: 30px;
    } }*/

@media screen and (max-width:800px){
     .hello{
        color: red;
        font-size: 50px;
    }
}@media screen and (max-width:1000px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;} 
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}
    .d-none{ display: none;} 
}
@media screen and (max-width:600px){
    [class*='col-']{
        width: 100%;
    } 
    .hello{
        color: rgb(16, 134, 6);
        font-size: 40px;
    }
}

